<div class="x_panel">
    <div class="x_title">
        <h2>Események</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- start project list -->
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Esemény</th>
                <th>Dátum</th>
                <th>Résztvevők (db)</th>
                <th>Kommentek (db)</th>
                <th>Helyszin</th>
                <th sec:authorize="hasAuthority('ADMIN')">Státusz</th>
                <th sec:authorize="hasAuthority('ADMIN')">Műveletek</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="event : ${events}">
                <a th:href="@{'/event/' + ${event.id}}">
                    <tr>
                        <td>#</td>
                        <td th:text="${event.id}" hidden></td>
                        <td th:text="${event.title}"></td>
                        <td th:text="${event.date}"></td>
                        <td th:text="${event.accounts.size()}"></td>
                        <td th:text="${event.comments.size()}"></td>
                        <td th:text="${event.address}"></td>
                        <td sec:authorize="hasAuthority('ADMIN')" th:if="${event.active == 1}">Aktiv <i class="fa fa-check-o"></i></td>
                        <td sec:authorize="hasAuthority('ADMIN')" th:if="${event.active == 0}">Bannolt <i class="fa fa-times-o"></i></td>
                        <td sec:authorize="hasAuthority('ADMIN')">
                            <form th:action="${event.id}">
                                <a id="viewEventButton" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Megtekintés </a>
                            </form>
                            <form th:action="${event.id}">
                                <a id="editEventButton" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Szerkesztés </a>
                            </form>
                            <form th:action="${event.id}">
                                <a th:if="${event.active == 0}" id="activateEventButton" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Aktiválás </a>
                            </form>
                            <form th:action="${event.id}">
                                <a th:if="${event.active == 1}" id="deactivateEventButton" class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Deaktiválás </a>
                            </form>

                        </td>
                    </tr>
                </a>
            </th:block>
            </tbody>
        </table>
        <!-- end project list -->
    </div>
</div>