<div class="x_panel">
    <div class="x_title">
        <h2>Események</h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <p>Összes esemény.</p>

        <!-- start project list -->
        <table class="table table-striped projects">
            <thead>
            <tr>
                <th style="width: 1%">#</th>
                <th>Esemény</th>
                <th>Előadók</th>
                <th>Helyszin</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="event : ${events}">
                <tr>
                    <td>#</td>
                    <td>
                        <a th:href="@{'/event/' + ${event.id}}"  th:text="${event.title}">Pesamakini Backend UI</a>
                        <br />
                        <small th:text="${event.date}"></small>
                    </td>
                    <td>
                        <ul class="list-inline">
                            <li>
                                <img src="/images/user.png" class="avatar" alt="Avatar">
                            </li>
                            <li>
                                <img src="/images/user.png" class="avatar" alt="Avatar">
                            </li>
                            <li>
                                <img src="/images/user.png" class="avatar" alt="Avatar">
                            </li>
                            <li>
                                <img src="/images/user.png" class="avatar" alt="Avatar">
                            </li>
                        </ul>
                    </td>
                    <td>
                        <a th:text="${event.address}"></a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <!-- end project list -->
    </div>
</div>