<div class="col-md-9">
    <div class="profile-content">
        <a id="logo" class="event-title-text">Profil</a>
        <br>
        <br>
        <br>
        <form autocomplete="off" th:action="'/profile/' + ${account.id} + '/edit'"
               th:object="${account}" method="post" role="form">
            <!--<div class="input-group" hidden>-->
                <!--<input th:field="*{id}" type="text" class="form-control" th:value="${account.id}" aria-describedby="basic-addon1" hidden>-->
            <!--</div>-->
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Email</span>
                <input th:field="*{email}" type="text" class="form-control" th:value="${account.email}" aria-describedby="basic-addon1" readonly>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Keresztnévv</span>
                <input th:field="*{name}" type="text" class="form-control" th:value="${account.name}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Családnév</span>
                <input th:field="*{lastName}" type="text" class="form-control" th:value="${account.lastName}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Weboldal</span>
                <input th:field="*{website}" type="text" class="form-control" th:value="${account.website}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Foglalkozás</span>
                <input th:field="*{profession}" type="text" class="form-control" th:value="${account.profession}" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Magamról</span>
                <textarea rows="4" th:field="*{description}" type="text" class="form-control" th:value="${account.description}" aria-describedby="basic-addon1"></textarea>
            </div>
            <input th:field="*{password}" type="text" th:value="asd" class="form-control"  aria-describedby="basic-addon1" hidden>
            <button type="Submit" class="btn btn-default btn-block btn-custom">Változtatások mentése</button>
        </form>
    </div>
</div>