<div class="icon-bar">
    <a class="pull-left" data-toggle="tooltip" data-placement="top" title="Előző esemény megnyitása" id="prev-event-btn" ><i class="fa fa-arrow-left"></i></a>
    <a class="pull-left" data-toggle="tooltip" data-placement="top" title="Keresés az események között"><i class="fa fa-search"></i></a>
    <a class="pull-left"  data-toggle="tooltip" data-placement="top" title="Üzenet küldése az esemény létrehozójának"><i class="fa fa-envelope"></i></a>
    <a class="pull-right" data-toggle="tooltip" data-placement="top" title="Következő esemény" id="next-event-btn" /><i class="fa fa-arrow-right"></i></a>
    <a id="openEventButton" class="pull-right" data-toggle="tooltip" data-placement="top" title="Esemény megnyitása külön oldalon"><i class="fa fa-globe"></i></a>
    <a id="editEventButton" sec:authorize="hasAuthority('ADMIN')" class="pull-right" data-toggle="tooltip" data-placement="top" title="Esemény szerkesztése"><i class="fa fa-pencil" ></i></a>
    <a id="newEventButton" sec:authorize="hasAuthority('ADMIN')" class="pull-right" data-toggle="tooltip" data-placement="top" title="Új esemény létrehozása"><i class="fa fa-plus-circle"></i></a>
</div>
<div id="events">
    <div id="header">
        <a id="logo" class="event-title-text" th:text="${event.title}"></a>
        <ul id="menu">
            <li id="info"><a><span>Általános</span></a></li>
            <li id="speaker"><a><span>Előadók</span></a></li>
            <li id="tickets"><a><span>Jegyek</span></a></li>
            <li id="location"><a><span>Helyszin</span></a></li>
            <li id="comments"><a><span>Kommentek</span></a></li>
        </ul>
        <br>
        <button id="attendEvent" type="button" class="btn btn-success btn-xs" th:text="${event.accounts.size()} + ' ' + résztvevő"></button>

        <div class="event-information" id="event-information">
            <h1 id="submitComment">Általános Információ</h1>
            <input class="event-id-text" hidden th:value="${event.id}" id="event-id">
            <ul>
                <li>
                    <h4>Esemény neve: </h4>
                    <p class="event-name-text" th:text="${event.name}"></p>
                </li>
                <li>
                    <h4>Esemény helyszine:</h4>
                    <p class="event-address-text" th:text="${event.address}"></p>
                </li>
                <li>
                    <h4>Esemény időpontja:</h4>
                    <p class="event-date-text" th:text="${event.date}">2017.12.19 18:00 CET</p>
                </li>
                <li>
                    <h4>Esemény leirása</h4>
                    <p class="event-description-text" th:text="${event.description}"></p>
                </li>
            </ul>
        </div>

        <div class="event-information" id="event-events">
            <h1><Előadók></Előadók></h1>
            <p th:text="${event.speakers}"></p>
        </div>

        <div class="event-information" id="event-tickets">
            <h1>Jegyek:</h1>
            <ul>
                <li>
                    <h4>Ticketportal: </h4>
                    <p><a href="http://www.ticketportal.hu/event.aspx?id=48662">LINK</a></p>
                </li>
                <li>
                    <h4>Helyszinen:</h4>
                    <p class="event-price-text" th:text="${event.price}"></p>
                </li>
            </ul>
        </div>


        <div class="event-information" id="event-location" th:if="${event.mapLongTitude != '' or event.mapLatitude != '' or event.address != '' or event.locationByPublicTransport != '' or event.locationByCar != ''}">
            <h1>Helyszin:</h1>
            <ul>
                <li th:if="${event.address != ''}">
                    <h4>Cim</h4>
                    <p class="event-address-text" th:text="${event.address}"></p>
                </li>
                <li th:if="${event.locationByPublicTransport != ''}">
                    <h4>Tömegközlekedéssel:</h4>
                    <p class="event-locationByPublicTransport-text" th:text="${event.locationByPublicTransport}"></p>
                </li>
                <li th:if="${event.locationByCar != ''}">
                    <h4>Autóval</h4>
                    <p class="event-locationByCar-text" th:text="${event.locationByCar}"></p>
                </li>
                <li th:if="${event.mapLongTitude != '' and event.mapLatitude != ''}">
                    <h4>Térkép:</h4>
                    <input id="map-latitude" type="hidden" th:if="${event.mapLatitude != ''}" th:value="${event.mapLatitude}">
                    <input id="map-longtitude" type="hidden" th:if="${event.mapLongTitude} != ''" th:value="${event.mapLongTitude}">
                    <p id="map-container" class="event-address-map"></p>
                </li>
            </ul>
        </div>
        <div class="event-information" id="event-comments">
            <div th:replace="fragment/content/event-comment"><</div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>