<div class="right_col" role="main" id="main_content">
    <div class="icon-bar">
    </div>
    <div id="events">

        <div class="event-information" id="event-information" th:if="${loggedInUserRole} == 'ADMIN'">
            <h1 th:text="${menu.title} + ' oldal szerkesztése Adminként'"></h1>
            <form  autocomplete="off" th:action="'/' + ${menu.route}"
                  th:object="${menu}" method="post" role="form">
                <input th:field="*{id}" type="text" th:value="${menu.id}" hidden>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Oldal cime</span>
                    <input th:field="*{title}" type="text" class="form-control" th:value="${menu.title}" aria-describedby="basic-addon1">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Oldal leirása</span>
                    <textarea rows="10" th:field="*{description}" class="form-control" th:value="${menu.description}" aria-describedby="basic-addon1"></textarea>
                    <!--<input th:field="*{description}" type="text" class="form-control" th:value="${menu.description}" aria-describedby="basic-addon1">-->
                </div>
                <button type="Submit" class="btn btn-default btn-block btn-custom">Változtatások mentése</button>
            </form>
        </div>

        <div class="event-information" id="event-information" th:if="${loggedInUserRole} != 'ADMIN'">
            <h1 th:text="${menu.title}"></h1>
            <br>
            <br>
            <p th:text="${menu.description}"></p>
        </div>
    </div>
</div>