<div class="right_col" role="main" id="main_content">
    <div class="icon-bar">
        <a class="pull-left" href="#" data-toggle="tooltip" data-placement="top" title="Keresés az események között"><i class="fa fa-search"></i></a>
    </div>
    <div id="events">
        <div id="header">
            <div class="event-information" id="event-information">
                <h1>Új esemény létrehozása</h1>
                <br>
                <form  autocomplete="off" th:action="@{/event/new}"
                       th:object="${event}" method="post" role="form">

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény címe (röviden, ez lesz nagy)</span>
                        <input th:field="*{title}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény neve (ez lesz az általános leirásban)</span>
                        <input th:field="*{name}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény címe</span>
                        <input th:field="*{address}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Megközelités tömegközlekedéssel</span>
                        <textarea rows="5" th:field="*{locationByPublicTransport}" type="text" class="form-control" aria-describedby="basic-addon1"></textarea>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Megközelités autóval</span>
                        <textarea rows="5" th:field="*{locationByCar}" type="text" class="form-control" aria-describedby="basic-addon1"></textarea>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Latitude (gugli maps)</span>
                        <input th:field="*{mapLatitude}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Longtitude (gugli maps)</span>
                        <input th:field="*{mapLongTitude}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény leirása (részletes)</span>
                        <textarea rows="5" th:field="*{description}" type="text" class="form-control" aria-describedby="basic-addon1"></textarea>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény belépő ára</span>
                        <input th:field="*{price}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény hossza, időtartalom</span>
                        <input th:field="*{duration}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény képének neve</span>
                        <input th:field="*{imgPath}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Esemény belépő linkje</span>
                        <input th:field="*{ticketLink}" type="text" class="form-control" aria-describedby="basic-addon1">
                    </div>

                    <button type="Submit" class="btn btn-default btn-block btn-custom">Esemény létrehozása</button>
                </form>

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>