<div class="right_col" align="center" role="main" id="events">


    <div id="header">
        <a id="logo">Magyarország jövőjéről Budapesten</a>
        <ul id="menu">
            <li id="event-information-btn"><a><span>Általános</span></a></li>
            <li id="event-speakers-btn"><a><span>Előadók</span></a></li>
            <li id="event-tickets-btn"><a><span>Jegyek</span></a></li>
            <li id="event-location-btn"><a><span>Helyszin</span></a></li>
            <li id="event-comments-btn"><a><span>Kommentek</span></a></li>
        </ul>
        <div class="event-information" id="event-information">
            <h1>Általános Információ</h1>
            <ul>
                <li>
                    <h4>Esemény neve: </h4>
                    <p>Magyarország jövőjéről Budapesten!</p>
                </li>
                <li>
                    <h4>Esemény helyszine:</h4>
                    <p>1124 Váci út 123/12</p>
                </li>
                <li>
                    <h4>Esemény időpontja:</h4>
                    <p>2017.12.19 18:00 CET</p>
                </li>
                <li>
                    <h4>Esemény leirása</h4>
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
                </li>
            </ul>
        </div>

        <div class="event-information" id="event-speakers">
            <h1>Előadók</h1>
            <div class="container wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-7">
                                    <img src="https://www.hypnosisdownloads.com/sites/www.hypnosisdownloads.com/files/product-images/poker-face.jpg" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-5">
                                    <h4>Abraham Lincoln</h4>
                                    <small><cite title="San Diego, USA">San Diego, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i>lorem@random.net
                                        <br />
                                        <i class="glyphicon glyphicon-globe"></i><a href="https://www.prepbootstrap.com">www.prepbootstrap.com</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>January 19, 1993
                                    </p>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="fa fa-2x fa-google"></span></a>
                                        <a href="#" class="btn btn-info"><span class="fa fa-2x fa-twitter"></span></a>
                                        <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-7">
                                    <img src="https://www.hypnosisdownloads.com/sites/www.hypnosisdownloads.com/files/product-images/poker-face.jpg" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-5">
                                    <h4>Abraham Lincoln</h4>
                                    <small><cite title="San Diego, USA">San Diego, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i>lorem@random.net
                                        <br />
                                        <i class="glyphicon glyphicon-globe"></i><a href="https://www.prepbootstrap.com">www.prepbootstrap.com</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>January 19, 1993
                                    </p>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="fa fa-2x fa-google"></span></a>
                                        <a href="#" class="btn btn-info"><span class="fa fa-2x fa-twitter"></span></a>
                                        <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container wrap">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-3">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-4 col-md-6 col-lg-7">
                                    <img src="https://www.hypnosisdownloads.com/sites/www.hypnosisdownloads.com/files/product-images/poker-face.jpg" alt="" class="img-rounded img-responsive" />
                                </div>
                                <div class="col-sm-8 col-md-6 col-lg-5">
                                    <h4>Abraham Lincoln</h4>
                                    <small><cite title="San Diego, USA">San Diego, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                                    <p>
                                        <i class="glyphicon glyphicon-envelope"></i>lorem@random.net
                                        <br />
                                        <i class="glyphicon glyphicon-globe"></i><a href="https://www.prepbootstrap.com">www.prepbootstrap.com</a>
                                        <br />
                                        <i class="glyphicon glyphicon-gift"></i>January 19, 1993
                                    </p>
                                    <div class="btn-group">
                                        <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                                        <a href="#" class="btn btn-danger"><span class="fa fa-2x fa-google"></span></a>
                                        <a href="#" class="btn btn-info"><span class="fa fa-2x fa-twitter"></span></a>
                                        <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="event-information" id="event-tickets">
            <h1>Jegyek:</h1>
            <ul>
                <li>
                    <h4>Ticketportal: </h4>
                    <p><a href="http://www.ticketportal.hu/event.aspx?id=48662">LINK</a></p>
                </li>
                <li>
                    <h4>Helyszinen:</h4>
                    <p>3000 ft</p>
                </li>
            </ul>
        </div>


        <div class="event-information" id="event-location">
            <h1>Helyszin:</h1>
            <ul>
                <li>
                    <h4>Tömegközlekedéssel:</h4>
                    <p>88 as busz az Örs Vezér Teréről</p>
                </li>
                <li>
                    <h4>Autóval</h4>
                    <p>23as út aztán balra és vegyél térképet</p>
                </li>
                <li>
                    <h4>Térkép:</h4>
                    <p>1124 Váci út 232/12 420as kapucsengő</p>
                </li>
            </ul>
        </div>

        <div class="event-information" id="event-comments">
            <h1>Kommentek:</h1>
            <ul>
                <li>
                    <h4>Tömegközlekedéssel:</h4>
                    <p>88 as busz az Örs Vezér Teréről</p>
                </li>
                <li>
                    <h4>Autóval</h4>
                    <p>23as út aztán balra és vegyél térképet</p>
                </li>
                <li>
                    <h4>Térkép:</h4>
                    <p>1124 Váci út 232/12 420as kapucsengő</p>
                </li>
            </ul>
        </div>
    </div>
</div>