<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Event Manager | </title>


        <script src="https://use.fontawesome.com/ed734ab71d.js"></script>
        <script th:src="@{~/js/jquery.min.js}" defer></script>
        <script th:src="@{~/js/bootstrap.js}" defer></script>
        <script th:src="@{~/js/fastclick.js}" defer></script>
        <script th:src="@{~/js/nprogress.js}" defer></script>
        <script th:src="@{~/js/event.js}" defer></script>
        <script th:src="@{~/js/jquery.mCustomScrollbar.js}" defer></script>
        <script th:src="@{~/js/custom.js}" defer></script>

        <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{~/css/nprogress.css}"/>
        <link rel="stylesheet" th:href="@{~/css/jquery.mCustomScrollbar.css}"/>
        <link rel="stylesheet" th:href="@{~/css/custom.css}"/>
        <link rel="stylesheet" th:href="@{~/css/main.css}"/>
        <link rel="stylesheet" th:href="@{~/css/authentication.css}"/>

    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <!--left navigation-->
                <div th:replace="fragments/sidebar-menu"></div>
                <!--left navigation-->

                <!-- top navigation -->
                <div th:replace="fragments/top-navigation"></div>
                <!-- /top navigation -->

                <!-- page content -->
                <div th:replace="fragments/events"></div>
                <!-- /page content -->

                <!-- footer content -->
                <div th:replace="fragments/footer"></div>
                <!-- /footer content -->
            </div>
        </div>
        <div th:replace="fragments/authentication"></div>

  </body>
</html>