<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Event Manager | </title>


        <script src="https://use.fontawesome.com/ed734ab71d.js"></script>
        <script th:src="@{~/js/jquery.min.js}" defer></script>
        <script th:src="@{~/js/bootstrap.js}" defer></script>
        <script th:src="@{~/js/fastclick.js}" defer></script>
        <script th:src="@{~/js/nprogress.js}" defer></script>
        <script th:src="@{~/js/event.js}" defer></script>
        <script th:src="@{~/js/jquery.mCustomScrollbar.js}" defer></script>
        <script th:src="@{~/js/custom.js}" defer></script>

        <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{~/css/nprogress.css}"/>
        <link rel="stylesheet" th:href="@{~/css/jquery.mCustomScrollbar.css}"/>
        <link rel="stylesheet" th:href="@{~/css/custom.css}"/>
        <link rel="stylesheet" th:href="@{~/css/main.css}"/>
        <link rel="stylesheet" th:href="@{~/css/login.css}"/>
        <link rel="stylesheet" th:href="@{~/css/userProfile.css}"/>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


    </head>

    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                <!--left navigation-->
                <div th:replace="fragment/sidebar-menu"></div>
                <!--left navigation-->

                <!-- top navigation -->
                <div th:replace="fragment/top-navigation"></div>
                <!-- /top navigation -->

                <!-- page content -->

                <div th:replace="${pageContent}"></div>
                <!-- /page content -->

                <!-- footer content -->
                <div th:replace="fragment/footer"></div>
                <!-- /footer content -->
            </div>
        </div>
        <!--Login page-->
        <div th:replace="authentication/login"></div>
        <!--Registration page-->
        <div th:replace="authentication/registration"></div>

        <div th:if="${authentication} != null" hidden>
            <p id="loginRequired" th:text="${authentication}"></p>
        </div>

  </body>
</html>