<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="container" id="login-container">
                <div id="login-box">
                    <div class="logo">
                        <img src="http://lorempixel.com/output/people-q-c-100-100-1.jpg" class="img img-responsive img-circle center-block"/>
                        <h1 class="logo-caption"><span class="tweak">E</span>lfelejtett jelszó</h1>
                    </div>
                    <div class="controls">
                        <form  th:action="@{/user/resetPassword}" method="POST">
                            <input type="text" name="email" placeholder="Email" class="form-control" />
                            <button type="Submit" class="btn btn-default btn-block btn-custom">Bejelentkezés</button>
                        </form>
                    </div><!-- /.controls -->
                </div><!-- /#login-box -->
            </div><!-- /.container -->
        </div>
    </div>

</div>